.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

backend/log/*
backend/tmp/*
backend/storage/*
backend/public/assets
backend/public/packs
backend/public/packs-test
backend/node_modules
backend/yarn-error.log
backend/.byebug_history
backend/.env
backend/config/master.key

frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
